@import url("css/font-min.css");

/* SLIDER */

.slider-content {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	position: relative;
	margin-top: 129px;
	background-color: #eee4db;
}

.slider-control {
	margin-top: 18px;
	margin-left: 28px;
}

.slider-paginator-number {
	font-family: "Montserrat", "Tahoma", sans-serif;
	font-weight: 300;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, 0.05);
}

.slider-paginator-list {
	position: absolute;
	top: 78px;
	left: 31px;
}

.slider-paginator-list-item {
	width: 31px;
	height: 3px;
	margin: 11px 0;
}

.slider-paginator-button-active {
	width: 31px;
	height: 3px;
	cursor: pointer;
	background-color: rgba(30, 6, 6, 0.6);
	outline: none;
}

.slider-paginator-button {
	width: 31px;
	height: 3px;
	cursor: pointer;
	background-color: #d6cac2;
	outline: none;
}
.slider-paginator-button:focus,
.slider-paginator-button:hover {
	background-color: rgba(30, 6, 6, 0.6);
	transition: 0.5s;
}

.slider-paginator-button-active:focus {
	opacity: 0.7;
	transition: 0.5s;
}

.slider-info-main {
	margin: 92px 6px 128px 45px;
	max-width: 310px;
}



.slider-text {
	margin: 19px 0;
	font-family: "Crimson Text", "Georgia", serif;
	font-style: italic;
	line-height: 25px;
	font-size: 20px;
}

.slider-button {
	width: 161px;
}

.slider-img {
	position: absolute;
	right: 99px;
	bottom: 39px;
}

.slider-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 12px 0 11px 0;
	background-color: #c29974;
}
.slider-bottom-text {
	font-family: "Open sans", "Arial", sans-serif;
	line-height: 16px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

/* PRODUCTS */

.title-products {
	margin: 91px 0 30px 0;
}

.products-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
}

.products-list-item {
	position: relative;
	height: 270px;
	width: 280px;
}

.products li:nth-child(1) {
	background-color: #dbe4db;
}

.products li:nth-child(2) {
	background-color: #eaddd3;
}

.products li:nth-child(3) {
	background-color: #f8f2da;
}

.products li:nth-child(4) {
	background-color: #d5d4e1;
}

.products-list-title {
	font-family: "Montserrat", "Tahoma", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;
	text-align: center;
	line-height: 32px;
	color: #ffffff;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.products-list-link {
	display: block;
	line-height: 0;
	outline: none;
}

.products-list-link:hover .products-list-title,
.products-list-link:focus .products-list-title {
	text-decoration: underline;
}

.products-bar-button {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;

	margin-top: 28px;
}

.arrow-button {
	cursor: pointer;
	width: 37px;
	height: 37px;
	background-color: rgba(112, 187, 220, 0.2);
	position: relative;
	outline: none;
}

.arrow-button:not(:last-child) {
	margin-right: 6px;
}

.arrow-button-left::after {
	position: absolute;
	top: 3px;
	left: 9px;
	content: "";
	background-image: url("/img/button-arrow.svg");
	width: 17px;
	height: 30px;
}

.arrow-button-right::after {
	position: absolute;
	top: 3px;
	left: 11px;
	content: "";
	background-image: url("/img/button-arrow.svg");
	transform: rotate(-180deg);
	width: 17px;
	height: 30px;
}

.arrow-button-left:hover::after,
.arrow-button-right:hover::after {
	opacity: 0.5;
	transition: 0.5s;
}

.arrow-button-left:focus::after,
.arrow-button-right:focus::after {
	opacity: 0.5;
	transition: 0.5s;
}

.arrow-button-left:active::after,
.arrow-button-right:active::after {
	opacity: 0.3;
}

.arrow-button:disabled{
	opacity: 0.2;
	pointer-events: none;
}


.products-bar-text {
	margin-left: 15px;
	width: 580px;
	margin-top: 2px;
}

/* DELIVERY */

.delivery-content {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	margin-top: 90px;
}

.delivery-img {
	background-color: #c7deec;
	display: block;
	margin-right: 60px;
}

.delivery-info {
	max-width: 530px;
}

.delivery-title {
	margin: 30px 0 6px 60px;
}

.delivery-list {
	margin: 0 0 21px 0;
}

.delivery-list-link {
  font-family: "Crimson Text", "Georgia", serif;
  font-style: italic;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
  display: block;
	background-color: rgba(255, 255, 255, 1);
  padding: 14px 0 8px 60px;
  min-width: 320px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-height: 55px;
	border: none;
	outline: none;
	cursor: pointer;
}

.delivery-active {
	pointer-events: none;
	cursor: default;
	font-weight: 700;
  background: rgba(112, 187, 220, 0.2);
}

.delivery-list-link:hover,
.delivery-list-link:focus {
	font-weight: 700;
	background-color: rgba(112, 187, 220, .2);
	transition: 0.5s;
}

.delivery-active:focus {
	text-decoration: underline;
}

.delivery-bar-text {
	margin-bottom: 26px;
	margin-left: 60px;
}

.delivery-text {
	width: 480px;
	margin-bottom: 15px;
}

.delivery-button{
	margin-left: 60px;
}

/* BARANDS */

.brands-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;

	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;

	margin-top: 91px;
	margin-bottom: 112px;
}

.brands-list-link {
	outline: none;
}

.brands-list-link:hover,
.brands-list-link:focus {
	opacity: 0.5;
	transition: 0.5s;
}

.brands-list-link:active {
	opacity: 0.3;
}

/* WIDGET */

.content-widget {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-align-items: start;
	-moz-align-items: start;
	align-items: start;

	margin-bottom: 155px;
}

.design-life {
	max-width: 543px;
	padding: 0 30px 27px 30px;
	background: #e1f0f7;
}

.design-life-title {
	margin: -25px 0 15px 0;
}

.design-life-subtitle {
	margin: 0 0 10px 0;
	font-family: "Crimson Text", "Georgia", serif;
	font-style: italic;
	font-size: 26px;
}

.design-life-button {
	max-width: 123px;
	margin-top: 20px;
}

.contact {
	position: relative;
	max-width: 543px;
	padding: 10px 30px 102px 30px;
	background: #e1f0f7;
	margin-right: 37px;
}

.contact-title {
	margin-top: -35px;
}

.contact-text {
	margin-top: 20px;
}

.map {
	position: absolute;
}

.map iframe {
	margin-top: 20px;
	border: none;
	background: #ededee;
}

/* POPUP */

.popup {
	display: none;
}

.form-contact-us-content {
	position: fixed;
	max-width: 680px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-contact-us-close {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: -25px;
	outline: none;
	cursor: pointer;
}

.form-contact-us-close:hover,
.form-contact-us-close:focus {
	opacity: 0.7;
}

.form-contact-us-close:active{
	opacity: 0.4;;
}

.popup_open {
	display: block;
	position: fixed;
	background: rgba(125, 151, 218, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
