body {
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 110px;
	margin-right: 110px;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 38px;
}

p,
a {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.visuallyhidden {
	display: none;
}
