@import url("/css/font-min.css");

.title-toy {
	margin-top: 62px;
	margin-bottom: 20px;
}

/* FILTER */

.filter {
	background-color: rgba(125, 151, 218, 0.2);
}

.filter-form {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-align-items: start;
	-moz-align-items: start;
	align-items: start;

	padding: 42px 0 30px 0;
	color: #1e0606;
}

.filter-form-legend {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.filter-form-text {
	font-size: 16px;
	line-height: 22px;
}

/* RANGE-COST */

.filter-form-field-price {
	margin-right: 94px;
}

.filter-form-range {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 188px;
	height: 4px;
	margin: 25px 14px 16px 5px;
	background-color: rgba(0, 0, 0, 0.5);
	outline: none;
}

.filter-form-range:hover,
.filter-form-range:focus {
	background-color: #c29974;
}

.filter-form-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 8px solid #c29974;
	border-radius: 50%;
	cursor: pointer;
}

.filter-form-range-box {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
}

/* CHEKBOX COLOR */

.filter-form-field-color {
	margin-right: 123px;
}

.filter-form-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-form-check-label {
	padding-left: 26px;
	cursor: pointer;
}

.filter-form-list {
	position: relative;
	margin-top: 16px;
}
.filter-form-item-checkbox {
	margin-bottom: 19px;
}

.filter-form-item-checkbox:last-child {
	margin-bottom: 15px;
}

.filter-form-check-label::before {
	display: block;
	position: absolute;
	width: 19px;
	height: 19px;
	border: 2px solid #c29974;
	border-radius: 3px;
	content: "";
	margin-top: -18px;
	cursor: pointer;
}

.filter-form-check-label::after {
	display: block;
	position: absolute;
	width: 19px;
	height: 19px;
	border: 2px solid #c29974;
	border-radius: 3px;
	background-color: #fff;
	background-image: url(/img/check-mark.png);
	content: "";
	margin-top: -18px;
	cursor: pointer;
	opacity: 0;
}

.filter-form-checkbox:checked + .filter-form-check-label::after {
	opacity: 1;
}

.filter-form-checkbox:focus ~ .filter-form-check-label {
	text-decoration: underline;
}

.filter-form-checkbox:disabled + .filter-form-check-label::before {
	opacity: 0.3;
}

.filter-form-checkbox:disabled + .filter-form-check-label::after {
	opacity: 0;
}

/* RADIO DELIVERY */

.filter-form-field-delivery {
	margin-right: 69px;
}

.filter-form-item {
	margin-bottom: 14px;
}

.filter-form-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-form-radio-label {
	margin-left: 26px;
	cursor: pointer;
	position: relative;
}

.filter-form-radio-label::before {
	display: block;
	position: absolute;
	top: 2px;
	left: -30px;
	width: 20px;
	height: 20px;
	border: 2px solid #c29974;
	border-radius: 50%;
	content: "";
	cursor: pointer;
}

.filter-form-radio-label::after {
	display: block;
	position: absolute;
	top: 6px;
	left: -26px;
	width: 12px;
	height: 12px;
	background-color: #c29974;
	border-radius: 50%;
	content: "";
	cursor: pointer;
	opacity: 0;
}

.filter-form-radio:checked + .filter-form-radio-label::after {
	opacity: 1;
}

.filter-form-radio:focus ~ .filter-form-radio-label {
	text-decoration: underline;
}

.filter-form-radio:disabled + .filter-form-radio-label::before {
	opacity: 0.3;
}

.filter-form-radio:disabled + .filter-form-radio-label::after {
	opacity: 0;
}

/* RADIO-AMOUNT */

.filter-form-pick {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filter-form-field-pick {
	max-width: 240px;
	margin-right: 60px;
}

.filter-form-list-pick {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: -3px;
}

.filter-form-pick-label {
	cursor: pointer;
	display: block;
	width: 80px;
	padding: 9px 0 8px 0;
	text-align: center;
	background: #fff;
}

.filter-form-pick:checked + .filter-form-pick-label {
	background: #f3d0db;
}

.filter-form-pick-label:hover {
	background: #f3d0db;
	opacity: 0.5;
}

.filter-form-pick:focus ~ .filter-form-pick-label {
	text-decoration: underline;
}

.filter-form-pick-label:active {
	background: #f3d0db;
	opacity: 0.3;
}

.filter-form-pick:disabled + .filter-form-pick-label {
	opacity: 0.3;
	background: #fff;
}

.button-filter {
	max-width: 95px;
	margin-top: 37px;
}

/* GOODS */

.goods {
	margin-top: 60px;
}

.goods-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	text-align: center;

	margin: 0 -10px;
}

.goods-list-item {
	width: 33.33%;
	padding: 0 10px;
	margin-bottom: 46px;
}

.goods-title {
	margin: 27px 0 17px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	text-transform: uppercase;
	color: #1e0606;
}

.goods-price {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #1e0606;
}

.goods-link {
	position: relative;
	display: block;
	outline: none;
}

.goods-link::before {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 207px;
	height: 207px;
	padding: 82px 12px 96px 11px;
	background-color: #e5eaf8;
	color: #1e0606;
	content: "learn more";
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 26px;
	line-height: 29px;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0;
	cursor: pointer;
}

.goods-link:focus::before,
.goods-link:hover::before {
	opacity: 0.8;
	transition: 0.7s;
}

.goods-link:active::before {
	opacity: 0.5;
}

/* PAGINATOR */

.page-paginator {
	margin-top: 24px;
}
