/* SLIDER */

.slider-content {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	position: relative;
	margin-top: 129px;
	background-color: #eee4db;
}

.slider-control {
	margin-top: 18px;
	margin-left: 28px;
}

.slider-paginator-number {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, 0.05);
}

.slider-paginator-list {
	position: absolute;
	top: 78px;
	left: 31px;
}

.slider-paginator-item {
	width: 31px;
	height: 3px;
	margin: 11px 0;
}

.slider-paginator-button-active {
	width: 31px;
	height: 3px;
	cursor: pointer;
	background-color: rgba(30, 6, 6, 0.6);
	outline: none;
}

.slider-paginator-button {
	width: 31px;
	height: 3px;
	cursor: pointer;
	background-color: #d6cac2;
	outline: none;
}
.slider-paginator-button:focus,
.slider-paginator-button:hover {
	background-color: rgba(30, 6, 6, 0.6);
}

.slider-info-main {
	margin: 92px 6px 128px 45px;
}

.slider-title {
	width: 70%;
}

.slider-text {
	margin: 19px 0;
	font-family: 'Crimson Text', 'Georgia', serif;
	font-style: italic;
	line-height: 25px;
	font-size: 20px;
}

.slider-button {
	width: 161px;
}

.slider-img {
	position: absolute;
	top: -89px;
	right: 99px;
}

.bottom-subtitle {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 12px 0 11px 0;
	background-color: #c29974;
}
.bottom-subtitle-text {
	font-family: 'Open sans', 'Arial', sans-serif;
	line-height: 16px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

/* PRODUCTS */

.title-products {
	margin: 91px 0 30px 0;
}

.products-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
}

.products-list-item {
	position: relative;
	height: 270px;
	width: 280px;
}

.products li:nth-child(1) {
	background-color: #dbe4db;
}

.products li:nth-child(2) {
	background-color: #eaddd3;
}

.products li:nth-child(3) {
	background-color: #f8f2da;
}

.products li:nth-child(4) {
	background-color: #d5d4e1;
}

.products-list-title {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;
	text-align: center;
	line-height: 32px;
	color: #ffffff;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.products-list-link {
	display: block;
	line-height: 0;
	outline: none;
}

.products-list-link:hover .products-list-title {
	text-decoration: underline;
}

.products-list-link:focus .products-list-title {
	text-decoration: underline;
}

.products-bar-button {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;

	margin-top: 28px;
}

.arrow-button {
	cursor: pointer;
	width: 37px;
	height: 37px;
	background-color: rgba(112, 187, 220, 0.2);
	position: relative;
	outline: none;
}

.arrow-button-left {
	margin-right: 6px;
}

.arrow-button-left::after {
	position: absolute;
	top: 3px;
	left: 9px;
	content: '';
	background-image: url('/img/button-arrow-back.svg');
	width: 17px;
	height: 30px;
}

.arrow-button-right::after {
	position: absolute;
	top: 3px;
	left: 10px;
	content: '';
	background-image: url('/img/button-arrow-forward.svg');
	width: 17px;
	height: 30px;
}

.arrow-button-left:hover::after,
.arrow-button-right:hover::after {
	opacity: 0.5;
}

.arrow-button-left:focus::after,
.arrow-button-right:focus::after {
	opacity: 0.5;
}

.arrow-button-left:active::after,
.arrow-button-right:active::after {
	opacity: 0.3;
}

.products-bar-text {
	margin-left: 20px;
	width: 580px;
	margin-top: 2px;
}

/* DELIVERY */

.delivery-content {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	margin-top: 90px;
}

.delivery-img {
	background-color: #c7deec;
}

.delivery-info {
	width: 600px;
	margin-left: 120px;
}

.delivery-title {
	margin-top: 30px;
	margin-bottom: 20px;
}

.delivery-list {
	position: relative;
	margin-bottom: 8px;
}

.delivery-list-item-active {
	padding-bottom: 22px;
}

.delivery-list-item-active::after {
	position: absolute;
	content: '';
	top: -15px;
	left: -60px;
	width: 326px;
	height: 55px;

	background-color: rgba(112, 187, 220, 0.2);
}

.delivery-list-link-active {
	font-family: 'Crimson Text', 'Georgia', serif;
	font-style: italic;
	font-size: 26px;
	font-weight: 700;
	line-height: 32px;
}

.delivery-list-item {
	padding-bottom: 22px;

	font-family: 'Crimson Text', 'Georgia', serif;
	font-style: italic;
	font-size: 26px;
	font-weight: 400;
	line-height: 32px;
}

.delivery-list-link-active,
.delivery-list-link {
	outline: none;
}

.delivery-list-link-active:hover,
.delivery-list-link-active:focus {
	font-weight: 700;
	color: #1e0606;
}

.delivery-list-link:hover,
.delivery-list-link:focus {
	font-weight: 700;
	color: #1e0606;
}

.delivery-bar-text {
	margin-bottom: 26px;
}

.delivery-text {
	width: 480px;
	margin-bottom: 15px;
}

/* BARANDS */

.brands-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;

	margin-top: 91px;
	margin-bottom: 116px;
}

.brands-list-link {
	outline: none;
}

.brands-list-link:hover,
.brands-list-link:focus {
	opacity: 0.5;
}

.brands-list-link:active {
	opacity: 0.3;
}

/* WIDGET */

.content-wiget {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	margin-bottom: 155px;
}

.design-life {
	max-width: 543px;
	margin-right: 57px;
	padding: 0 30px 27px 30px;
	background-color: #e1f0f7;
}

.design-life-title {
	margin-top: -25px;
}

.design-life-subtitle {
	margin-top: 10px;
	font-family: 'Crimson Text', 'Georgia', serif;
	font-style: italic;
	font-size: 26px;
}

.design-life-text {
	height: 67px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.map {
	width: 543px;
	height: 209px;
	padding: 0 30px;
	background-color: #e1f0f7;
}

.map-title {
	margin-top: -26px;
}

.map-text {
	margin-top: 20px;
}

.maps {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.maps iframe {
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	margin-top: 20px;
}

/* POPUP */

.popup {
	display: none;
}

.form-contact-us-content {
	position: relative;
	max-width: 680px;
	margin: 0 auto;
}

.form-contact-us {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-contact-us-close {
	position: absolute;
	margin-top: 236px;
	right: -25px;
	cursor: pointer;
	background: transparent;
}

.popup_open {
	display: block;
	position: fixed;
	background: rgba(125, 151, 218, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
