@import url("/css/font-min.css");

/* BLOG */

.title-blog {
	margin-top: 63px;
}

.blog-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 0 -10px;
}

.blog-list-item {
	width: 33.33%;
	padding: 0 10px;
	margin-bottom: 34px;
}

.blog-list-link {
	outline: none;
}

.blog-list-img{
	display: block;
	background: #d3dae2;
}

.blog-list-link:focus .blog-list-title {
	text-decoration: underline;
}

.blog-list-date {
	margin: 19px 0 8px 0;
	font-size: 16px;
	line-height: 19px;
	color: #818181;
}

.blog-list-title {
	margin-bottom: 15px;
	font-family: "Montserrat", "Tahoma", sans-serif;
	font-size: 24px;
	line-height: 31px;
	color: #1e0606;
}

.blog-list-item:hover .blog-list-title {
	text-decoration: underline;
}

.blog-list-text {
	font-size: 18px;
	line-height: 25px;
	color: #1e0606;
}

/* PAGINATOR */

.page-paginator {
	margin-top: 12px;
}
