@import '/css/font.css';

/* BLOG */

.title-blog {
	margin: 60px 0 15px 0;
}

.blog-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-wrap: wrap;
}

.blog-list-item {
	width: 33.33%;
	margin-bottom: 16px;
}

.blog-list-date {
	color: #818181;
	margin: 20px 0 7px 0;
	font-size: 16px;
	line-height: 19px;
}

.blog-list-title {
	width: 380px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 24px;
	line-height: 31px;
	color: #1e0606;
}

.blog-list-title:hover {
	text-decoration: underline;
}

.blog-list-text {
	margin-top: 15px;
	width: 380px;
	font-size: 18px;
	color: #1e0606;
}

/* PAGINATOR */

.page-paginator {
	width: 1148px;
	margin: 0 auto;
	margin-top: 92px;

	-webkit-display: flex;
	-moz-display: flex;
	display: flex;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;

	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;

	margin-bottom: 60px;
}

.page-paginator-list {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
}

.page-paginator-item {
	margin-right: 64px;
}

.page-paginator-link {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 700;
	line-height: 19px;
	width: 10px;
	height: 20px;
	color: #1e0606;
}

.page-active-link {
	color: #c29974;
}

.page-paginator-link:hover {
	color: #aaa;
}

.page-paginator-item:last-child {
	margin-right: 0;
}

.button-paginator {
	width: 17px;
	height: 30px;
	background-color: #fff;
	cursor: pointer;
	opacity: 0.2;
}

.paginator-arrow-left {
	background-image: url('/img/button-arrow-back.svg');
}

.paginator-arrow-right {
	background-image: url('/img/button-arrow-forward.svg');
}
